@using XperiCad.DigitalDrawingStore.Web.API.Extensions
@using XperiCad.DigitalDrawingStore.Web.API.DTO
@using XperiCad.DigitalDrawingStore.BL.Impl.Services

<meta name="viewport" content="width=device-width, initial-scale=1.0">

@{
    var culture = CultureService.GetSelectedCulture();
    var searchButtonText = CultureService.GetPropertyNameTranslation(CultureProperty.SEARCH_BUTTON_TEXT, culture) ?? "[Keresés]";
    var searchableText1 = CultureService.GetPropertyNameTranslation(CultureProperty.SEARCHABLE_FIELDS_TEXT_1, culture) ?? "[A keresőmezőben a következő elemekre lehet keresni: ]";
    var searchableText2 = CultureService.GetPropertyNameTranslation(CultureProperty.SEARCHABLE_FIELDS_TEXT_2, culture) ?? "[dokumentum név, kategória név, tulajdonság]";
    var searchableText3 = CultureService.GetPropertyNameTranslation(CultureProperty.SEARCHABLE_FIELDS_TEXT_3, culture) ?? "[ vagy ]";
    var searchableText4 = CultureService.GetPropertyNameTranslation(CultureProperty.SEARCHABLE_FIELDS_TEXT_4, culture) ?? "[tartalom]";

    <div class="search">
        <div id="search-box">
            <input id="search-txt" name="search-txt" type="text" placeholder="@searchButtonText">
            <button id="button-addon2">@searchButtonText</button>
        </div>
        <small class="text-break">
            @searchableText1<b>@searchableText2</b>@searchableText3<b>@searchableText4</b>
        </small>
    </div>
}
<hr class="full" />
<div id="contentContainer" class="content-container"></div>

<script src="~/js/documents.js"></script>