@using XperiCad.DigitalDrawingStore.Web.API.Controllers;

@{
    var administrationController = new AdministrationController();
    var documentResourceProperties = administrationController.documentResourceProperties;
    var feedbackEntities = await administrationController.GetFeedbackProperties();
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<script src="~/js/settings.js"></script>
<div id="contentContainer" class="content-container">
    <p class="category-title">Alkalmazás konfiguráció</p>
    @{
        <div id="appConfig">
            <div class="setting">
                <label>Adatbázis elérési útvonal</label>
                <input name="DocumentDatabaseConnectionString" type="text" value="@documentResourceProperties.ResourcePath" />
            </div>
            <button id="saveChangesAppConfig" onclick="updateConfigSettings()">Módosítások mentése</button>
        </div>
    }
    <p class="category-title">Visszajelzés beállítások</p>
    @{
        <div id="feedback">
            <div class="setting">
                <label>Küldő e-mail</label>

                <input name="SenderEmail" type="text" value="@feedbackEntities.SenderEmail" />
            </div>
            <div class="setting align-m">
                <label>E-mail címzettek</label>
                <textarea name="EmailRecipients" rows="5">@feedbackEntities.EmailRecipients</textarea>
            </div>
            <div class="setting">
                <label>Smtp Host</label>
                <input name="SmtpHost" type="text" value="@feedbackEntities.SmtpHost" />
            </div>
            <div class="setting">
                <label>Smtp Port</label>
                <input name="SmtpPort" type="text" value="@feedbackEntities.SmtpPort" />
            </div>
            <div class="setting">
                <label>Smtp felhasználónév</label>
                <input name="SmtpUsername" type="text" value="@feedbackEntities.SmtpUsername" />
            </div>
            <div class="setting">
                <label>Smtp jelszó</label>
                <div id="passwordField">
                    <input id="smtpPass" name="SmtpPassword" type="password" value="@feedbackEntities.SmtpPassword" style="width: 100%" />
                    <i class="far fa-eye-slash" id="togglePassword"></i>
                </div>
            </div>
            <div class="settingChb">
                <label>Használja az alapértelmezett bizonyítványt</label>
                @if (feedbackEntities.IsUseDefaultCredentials)
                {
                    <input name="IsUseDefaultCredentials" type="checkbox" checked />
                }
                else
                {
                    <input name="IsUseDefaultCredentials" type="checkbox" />
                }
            </div>
            <div class="settingChb">
                <label>Ssl használata</label>
                @if (feedbackEntities.IsUseSsl)
                {
                    <input name="IsEnableSsl" type="checkbox" checked />
                }
                else
                {
                    <input name="IsEnableSsl" type="checkbox" />
                }
            </div>
            <button id="saveChangesFeedback" onclick="updateEmailSettings()">Módosítások mentése</button>
        </div>
    }
</div>