@using XperiCad.DigitalDrawingStore.Web.API.Authorization;
@using XperiCad.DigitalDrawingStore.BL.Impl.Services;
@* TODO: Investigate the proper implementation *@
@model object;

<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    @{
        var appName = CultureService.GetPropertyNameTranslation(CultureProperty.APPLICATION_NAME, CultureService.GetSelectedCulture()) ?? "[Digitális Rajztár]";
        var pageTitle = ViewData.Keys.Contains("Title") ? ViewData["Title"] : "[Oldal]";
    }
    <title>@pageTitle - @appName</title>

    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css"/>
    <link rel="stylesheet" href="~/lib/jquery-modal/jquery.modal.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <script src="~/lib/jquery/jQuery.3.6.3.min.js"></script>
    <link rel="stylesheet" href="~/css/popup.css" asp-append-version="true"/>

</head>
<body>
<script>
        var baseUrl = '@Url.Content("~/")';
    </script>
<div id="pdfViewer" class="modal" style="width: 95%; height: 95%;">
    <div>
        <div>
                @{
                    var selectedCulturePdf = CultureService.GetSelectedCulture();
                    var openEditorText = CultureService.GetPropertyNameTranslation(CultureProperty.OPEN_EDITOR_TEXT, selectedCulturePdf) ?? "[Szerkesztő megnyitása]";
                    var outerWatermarkPosText = CultureService.GetPropertyNameTranslation(CultureProperty.OUTER_WATERMARK_POSITION_TEXT, selectedCulturePdf) ?? "[Szélső vízjel pozíciója]";
                    var documentUsageText = CultureService.GetPropertyNameTranslation(CultureProperty.DOCUMENT_USAGE_TEXT, selectedCulturePdf) ?? "[Dokumentum használatának célja]";
                    var middleWatermarkOffset1Text = CultureService.GetPropertyNameTranslation(CultureProperty.MIDDLE_WATERMARK_HORIZONTAL_OFFSET_TEXT, selectedCulturePdf) ?? "[Középső vízjel horizontális eltolása]";
                    var middleWatermarkOffset2Text = CultureService.GetPropertyNameTranslation(CultureProperty.MIDDLE_WATERMARK_VARTICAL_OFFSET_TEXT, selectedCulturePdf) ?? "[Középső vízjel vertikális eltolása]";
                    var fontSizeText = CultureService.GetPropertyNameTranslation(CultureProperty.FONT_SIZE_TEXT, selectedCulturePdf) ?? "[Betűméret]";
                    var watermarkTransparencyText = CultureService.GetPropertyNameTranslation(CultureProperty.WATERMARK_TRANSPARENCY_TEXT, selectedCulturePdf) ?? "[Vízjel átlátszóság: ]";
                    var updateText = CultureService.GetPropertyNameTranslation(CultureProperty.UPDATE_TEXT, selectedCulturePdf) ?? "[Frissítés]";

                    <button type="button" class="editor-menu-toggle">@openEditorText</button>
                    <div class="editor-menu">
                        <table class="properties-selector">
                            <tbody>
                            <tr>
                                <td>
                                    <label for="sidedWatermarkPositionSelectMenu">@outerWatermarkPosText</label>
                                    <select name="sidedWatermarkPositionSelectMenu" id="sidedWatermarkPositionSelectMenu"></select>
                                </td>
                                <td colspan="2">
                                    <label for="targetOfDocumentUsageSelectMenu">@documentUsageText</label>
                                    <select name="targetOfDocumentUsageSelectMenu" id="targetOfDocumentUsageSelectMenu"></select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="centeredWatermarkHorizontalOffset">@middleWatermarkOffset1Text</label>
                                    <input name="centeredWatermarkHorizontalOffset" id="centeredWatermarkHorizontalOffset" type="number" min="-100" max="100" value="0"/>
                                </td>
                                <td>
                                    <label for="centeredWatermarkVerticalOffset">@middleWatermarkOffset2Text</label>
                                    <input name="centeredWatermarkVerticalOffset" id="centeredWatermarkVerticalOffset" type="number" min="-100" max="100" value="0"/>
                                </td>
                                <td>
                                    <label for="fontSize">@fontSizeText</label>
                                    <input name="fontSize" id="fontSize" type="number" min="14" max="72" value="40"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        <label for="watermarkOpacitySlider">@watermarkTransparencyText<span id="sliderInputSpan">80</span></label>
                                    </p>
                                    <div name="watermarkOpacitySlider" id="watermarkOpacitySlider" class="slider">
                                        <div id="custom-handle" class="ui-slider-handle"></div>
                                    </div>
                                    <input id="sliderInput" type="hidden" value="80"/>
                                </td>
                                <td></td>
                                <td>
                                    <button id="updateWatermarkButton" class="ui-button ui-corner-all ui-widget" style="display: inline;">@updateText</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                }
        </div>
    </div>
    <div class="pdf-wrapper">
        <embed id="pdfPreview" style="width: 100%; height: 95%;"/>
    </div>
</div>

<div class="wrapper">
    <div class="xpericad-header">
        @if (Model != null && Model is DigitalDrawingStore.Web.UI.Views.Shared.SharedViewModel sharedViewModel)
        {
            if (sharedViewModel.SecurityFacade != null && sharedViewModel.SecurityFacade.IsInGroup(User, Constants.Autorization.Policies.ADMIN))
            {
                var selectedCulture = CultureService.GetSelectedCulture();
                var mainPageTitle = CultureService.GetPropertyNameTranslation(CultureProperty.HOME_PAGE_NAME, selectedCulture) ?? "[Főoldal]";
                var categoriesPageTitle = CultureService.GetPropertyNameTranslation(CultureProperty.CATEGORIES_PAGE_NAME, selectedCulture) ?? "[Kategóriák]";
                var documentsPageTitle = CultureService.GetPropertyNameTranslation(CultureProperty.DOCUMENTS_PAGE_NAME, selectedCulture) ?? "[Dokumentumok]";
                var settingsPageTitle = CultureService.GetPropertyNameTranslation(CultureProperty.SETTINGS_PAGE_NAME, selectedCulture) ?? "[Beállítások]";
                var eventsPageTitle = CultureService.GetPropertyNameTranslation(CultureProperty.EVENTS_PAGE_NAME, selectedCulture) ?? "[Események]";

                <nav>
                    <div id="xpericad-dropdown-menu" class="menu">
                        <div id="menu" class="bar-container">
                            <div class="bar1"></div>
                            <div class="bar2"></div>
                            <div class="bar3"></div>
                        </div>
                        <div class="dropdown">
                            <p>
                                <a asp-controller="Home" asp-action="Index">@mainPageTitle</a>
                            </p>
                            <hr/>
                            <p>
                                <a asp-controller="Administration" asp-action="Categories">@categoriesPageTitle</a>
                            </p>
                            <hr/>
                            <p>
                                <a asp-controller="Administration" asp-action="Documents">@documentsPageTitle</a>
                            </p>
                            <hr/>
                            <p>
                                <a asp-controller="Administration" asp-action="Settings">@settingsPageTitle</a>
                			</p>
                            @*<hr />
                            <p>
                                <a asp-controller="Administration" asp-action="EventLogs">@eventsPageTitle</a>
                            </p>*@
                        </div>
                    </div>
                    <div class="xpericad-fullsize-navcontent">
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="Index">@mainPageTitle</a>
                            </li>
                            <li>
                                <a asp-controller="Administration" asp-action="Categories">@categoriesPageTitle</a>
                            </li>
                            <li>
                                <a asp-controller="Administration" asp-action="Documents">@documentsPageTitle</a>
                            </li>
                            <li>
                                <a asp-controller="Administration" asp-action="Settings">@settingsPageTitle</a>
                            </li>
                            @*<li>
                                <a asp-controller="Administration" asp-action="EventLogs">@eventsPageTitle</a>
                            </li>*@
                        </ul>
                    </div>
                </nav>
            }
        }
        <div class="language-select-menu">
            <nav>
                <div id="language-dropdown-menu" class="menu">
                    <div id="langMenu" class="bar-container">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                    <div class="dropdown">
                        <p>
                            <a href="" class="changeLang" value="HU">Magyar</a>
                        </p>
                        <hr />
                        <p>
                            <a href="" class="changeLang" value="EN">English</a>
                        </p>
                    </div>
                </div>
            </nav>
        </div>
        @{
            var appName2 = CultureService.GetPropertyNameTranslation(CultureProperty.APPLICATION_NAME, CultureService.GetSelectedCulture()) ?? "[Digitális Rajztár]";
            <span class="xpericad-header-title">@appName2</span>
        }
    </div>

    <div class="content-wrapper">
        @RenderBody()
        <div id="toast-container"></div>
    </div>
    <div class="xpericad-footer">
        @{
            var copyright = CultureService.GetPropertyNameTranslation(CultureProperty.COPYRIGHT, CultureService.GetSelectedCulture()) ?? "[Minden jog fenntartva.]";
            <p>XperiCAD &copy; 2023 @copyright</p>
        }
    </div>
</div>
<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="~/lib/jquery-modal/jquery.modal.min.js"></script>
<script src="~/js/common.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/modal.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>